<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings"
                  type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
                  
      <section name="Hyddwn_Launcher.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings"
                  type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">

      <section name="Hyddwn_Launcher.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <userSettings>
    <Hyddwn_Launcher.Properties.Settings>
      <setting name="FirstRun" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DeleteZips" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DeletePartFiles" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DeleteContent" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RequireAdmin" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="WarnIfNotInMabiDir" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ClientProfileSelectedIndex" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="ServerProfileSelectedIndex" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="UsePackFiles" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DefaultConnectionLimit" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="Locale" serializeAs="String">
        <value>North America</value>
      </setting>
      <setting name="HyddwnProfileUpgrade" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UUID" serializeAs="String">
        <value />
      </setting>
    </Hyddwn_Launcher.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <Hyddwn_Launcher.Properties.Settings>
      <setting name="MaxConnectionLimit" serializeAs="String">
        <value>10</value>
      </setting>
    </Hyddwn_Launcher.Properties.Settings>
  </applicationSettings>
</configuration>